$break-iphone: 768px;
$break-iphone-568: 568px;

$main-text-color: #dcdcdc;

$main-bg-color: #dc3545;

$lightgrey-color: #1c1d1d;

$font-size-22: 22px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;